@use "../abstracts";

*,
::before,
::after {
   box-sizing: border-box;
}

* {
   -webkit-tap-highlight-color: transparent;
}

html,
body {
   scroll-behavior: smooth;
}

/* Quy đổi 1rem = 10px cho dễ --- xem lại rem để biết thêm */
html {
   font-size: 62.5%;
   /* 1rem = 10px */
}

body {
   font-size: 1.6rem;
   font-family: Gordita, sans-serif;
   color: var(--text-color);
   background-color: var(--body-bg);
}

a {
   color: inherit;
   text-decoration: none;
}

button {
   border: none;
   outline: none;
   background: transparent;
   padding: 0;
   cursor: pointer;
}

// 4 thẻ này có css mặc định > cần reset
a,
img,
button,
input,
label,
textarea,
select {
   font-family: inherit;
   color: inherit;
   -webkit-tap-highlight-color: transparent;
   outline: none;
   border: none;
   padding: 0;
}

input {
   background: transparent;
}

.icon {
   filter: var(--icon-color)
}

.container {
   @include abstracts.screen(sm) {
      padding-left: 20px !important;
      padding-right: 20px !important;
   }
}

i,
em {
   font-style: italic;
}

b,
strong {
   font-weight: 600;
}

u {
   text-decoration: underline;
}