@keyframes vertical-shaking {
   0% {
      transform: translateY(0)
   }

   25% {
      transform: translateY(5px)
   }

   50% {
      transform: translateY(-5px)
   }

   75% {
      transform: translateY(5px)
   }

   100% {
      transform: translateY(0)
   }
}

@keyframes shake {

   0%,
   100% {
      translate: 0;
   }

   25%,
   75% {
      translate: 4px;
   }

   50% {
      translate: -4px;
   }


}