$breakpoints: (
   xxl: 1400px,
   xl: 1200px,
   lg: 992px,
   md: 768px,
   sm: 576px,
);


$display-values: block, flex, grid, none;

// @mixin make-display($breakpoint: null) {
//    $infix: if($breakpoint, "-#{$breakpoint}", "");

//    @each $display in $display-values {
//       .d#{$infix}-#{$display}{
//          display: $display;
//       }
//    }
// }

// @include make-display();

// @each $breakpoint, $dimension in $breakpoints {
//    @media (max-width: ($dimension - 0.02)) {
//       @include make-display($breakpoint)
//    }
// }

// ----------------Chat-GPT simpler version-----------------
// 1. Base classes: .d-block, .d-flex, .d-grid, .d-none
@each $display in $display-values {
   .d-#{$display} {
      display: $display;
   }
}

// 2. Responsive classes: .d-sm-block, .d-md-flex, etc.
@each $breakpoint, $dimension in $breakpoints {
   @media (max-width: ($dimension - 0.02)) {
      @each $display in $display-values {
         .d-#{$breakpoint}-#{$display} {
            display: $display !important;
         }
      }
   }
}
