@use "../abstracts";

html.dark {
   // --text-color: #1A162E;
   --text-color: #fff;
   --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(119deg) brightness(103%) contrast(106%);
   --body-bg: #292e39;
   --header-bg-color: #171c28;
   --top-act-group-bg-color: #292e39;
   --top-act-group-shadow: rgba(0, 0, 0, 0.2);
   --top-act-group-separate: #ededf6;

   @include abstracts.screen(lg) {
      --header-shadow-color: rgba(0, 0, 0, 0.20);
   }

   // Dropdown Menu
   --dropdown-bg-color: #3e4148;
   --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
   --dropdown-arrow-color: brightness(0) saturate(100%) invert(23%) sepia(8%) saturate(695%) hue-rotate(184deg) brightness(90%) contrast(86%);

   --menu-column-icon-color:brightness(0) saturate(100%) invert(94%) sepia(6%) saturate(409%) hue-rotate(201deg) brightness(104%) contrast(96%);

   // top menu
   --top-menu-border-color: #171c28;

   //Sidebar
   --sidebar-bg: #292E39;
   --sidebar-shadow: rgba(23, 28, 40, 0.40);

   // Categories Item
   --cate-item-bg: #171C28;
   --cate-item-thumb-bg: #292E39;
   --cate-item-title-color: #fff;

   // Filter Btn
   --filter-btn-bg-color: #171C28;
   --filter-btn-color: #FFFFFF;

   //Product Cart
   --product-cart-bg: #171C28;
   --product-cart-shadow: rgba(0, 0, 0, 0.20);

   //Like btn
   --like-btn-shadow: rgba(124, 124, 124, 0.20);
}