@use "../abstracts";

html.dark {
   /* ============================
     1. Core Colors & Typography
  ============================= */
   --text-color: #fff;
   --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(119deg) brightness(103%) contrast(106%);
   --body-bg: #292e39;

   /* ============================
     2. Header
  ============================= */
   --header-bg-color: #171c28;
   --top-act-group-bg-color: #292e39;
   --top-act-group-shadow: rgba(0, 0, 0, 0.2);
   --top-act-group-separate: #ededf6;

   @include abstracts.screen(lg) {
      --header-shadow-color: rgba(0, 0, 0, 0.2);
   }

   /* ============================
     3. Dropdown Menu
  ============================= */
   --dropdown-bg-color: #3e4148;
   --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
   --dropdown-arrow-color: brightness(0) saturate(100%) invert(23%) sepia(8%) saturate(695%) hue-rotate(184deg) brightness(90%) contrast(86%);

   --menu-column-icon-color: brightness(0) saturate(100%) invert(94%) sepia(6%) saturate(409%) hue-rotate(201deg) brightness(104%) contrast(96%);

   /* ============================
               3.1 Cart Drop Down Menu Content
   ============================= */
   --act-dropdown-bg: #3e4148;
   --act-dropdown-shadow: rgba(23, 28, 40, 0.40);
   --act-dropdown-separator-color: #171C28;

   /* ============================
     4. Top Menu
  ============================= */
   --top-menu-border-color: #171c28;

   /* ============================
     5. Sidebar
  ============================= */
   --sidebar-bg: #292e39;
   --sidebar-shadow: rgba(23, 28, 40, 0.4);

   /* ============================
     6. Category Items
  ============================= */
   --cate-item-bg: #171c28;
   --cate-item-thumb-bg: #292e39;
   --cate-item-title-color: #fff;

   /* ============================
     7. Filter Buttons / Filter Form
  ============================= */
   --filter-btn-bg-color: #171c28;
   --filter-btn-color: #ffffff;

   --filter-form-bg: var(--dropdown-bg-color);
   --filter-form-shadow: rgba(0, 0, 0, 0.4);
   --form-tag-bg: #171c28;
   --filter-form-arrow: var(--dropdown-arrow-color);

   --form-placeholder-color: #b9babe;

   /* ============================
     8. Product Card
  ============================= */
   --product-cart-bg: #171c28;
   --product-cart-shadow: rgba(0, 0, 0, 0.2);

   /* ============================
     9. Like Button
  ============================= */
   --like-btn-shadow: rgba(124, 124, 124, 0.2);

   /* ============================
     10. Auth Pages (Signup/Login)
  ============================= */
   --auth-intro-bg: #171c28;
   --auth-content-bg: #292e39;
   --auth-intro-text-color: #b9babe;
   --auth-heading-color: #b9babe;

   /* ============================
     11. Product Detail Page
  ============================= */
   --product-detail-bg: #292e39;
   --product-info-bg-color: #171c28;
   --prod-tag-bg-color: #292e39;
   --prod-info-price-color: #eee;
   --prod-info-container-bg-color: #171c28;
   --prod-info-container-shadow: rgba(23, 28, 40, 0.20);
   --prod-info-heading-color: #eee;
   --prod-prop-title-color: #eee;
   --prod-prop-desc-color: #eee;

   /* ============================
     12. Breadcrumb
  ============================= */
   --breadcrumb-bg-color: #171c28;
   --breadcrumb-shadow: rgba(23, 28, 40, 0.2);

   /* ============================
     13. Search Bar
  ============================= */
   --search-bar-bg-color: #171c28;
   /* ============================
        14. Review Card
     ============================= */
   --review-card-bg-color:#171C28;

   /* ============================
           15. Text Content
        ============================= */

   --text-content-hr-bg: #929aab;


   /* ============================
                 16. Checkout Page
              ============================= */
   --checkout-breadcrumb-bg: #171C28;
   --checkout-cart-info-bg: #171C28;
   --checkout-cart-info-shadow: rgba(23, 28, 40, 0.20);
   --checkout-border-color: #292E39;
   --checkout-gift-shadow: rgba(23, 28, 40, 0.20);

   /* ============================
                       17. Dialog Page
          ============================= */
   --dialog-content-bg: #3e4148;
   --dialog-content-shadow: rgba(23, 28, 40, 0.4);
}