html.dark {
   // --text-color: #1A162E;
   --text-color: #fff;
   --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(119deg) brightness(103%) contrast(106%);
   ;
   --body-bg: #292E39;
   --header-bg-color: #171C28;
   --top-act-group-bg-color: #292E39;
   --top-act-group-shadow: rgba(0, 0, 0, 0.20);
   --top-act-group-separate: #EDEDF6;

   // Dropdown Menu
   --dropdown-bg-color: #3e4148;
   --dropdown-shadow-color: rgba(23, 28, 40, 0.40);
   --dropdown-arrow-color: brightness(0) saturate(100%) invert(23%) sepia(8%) saturate(695%) hue-rotate(184deg) brightness(90%) contrast(86%);
}