@use "../abstracts";

html {
   --text-color: #1A162E;
   // --text-color: red;
   --icon-color: brightness(0) saturate(100%) invert(10%) sepia(40%) saturate(722%) hue-rotate(210deg) brightness(95%) contrast(101%);
   --body-bg: #F6F6F6;
   --header-bg-color: #eee;
   --top-act-group-bg-color: #FFF;
   --top-act-group-shadow: rgba(237, 237, 246, 0.20);
   --top-act-group-separate: #EDEDF6;


   @include abstracts.breakpoint(lg) {
      --header-bg-color: #fff;
      --header-shadow-color: rgba(237, 237, 246, 0.20);
   }

   // Dropdown Menu
   --dropdown-bg-color: #fff;
   --dropdown-shadow-color: rgba(200, 200, 200, 0.40);
   --dropdown-arrow-color:"";



   // top menu
   --top-menu-border-color: #D2D1D6;

   //Sidebar
   --sidebar-bg: #fff;
   --sidebar-shadow: rgba(200, 200, 200, 0.40);
}