@use "../abstracts";

html {
   --text-color: #1A162E;
   // --text-color: red;
   --icon-color: brightness(0) saturate(100%) invert(10%) sepia(40%) saturate(722%) hue-rotate(210deg) brightness(95%) contrast(101%);
   --body-bg: #F6F6F6;
   --header-bg-color: #eee;
   --top-act-group-bg-color: #FFF;
   --top-act-group-shadow: rgba(237, 237, 246, 0.20);
   --top-act-group-separate: #EDEDF6;


   @include abstracts.screen(lg) {
      --header-bg-color: #fff;
      --header-shadow-color: rgba(237, 237, 246, 0.20);
   }

   // Dropdown Menu
   --dropdown-bg-color: #fff;
   --dropdown-shadow-color: rgba(200, 200, 200, 0.40);
   --dropdown-arrow-color:"";



   // top menu
   --top-menu-border-color: #D2D1D6;

   //Sidebar
   --sidebar-bg: #fff;
   --sidebar-shadow: rgba(200, 200, 200, 0.40);

   // Categories Item
   --cate-item-bg: #eee;
   --cate-item-thumb-bg: #fff;
   --cate-item-title-color: #000;

   @include abstracts.screen(md) {
      --cate-item-bg: #fff;
   }

   // Filter Btn
   --filter-btn-bg-color: #fff;
   --filter-btn-color: #6C6C72;

   //Product Cart
   --product-cart-bg: #fff;
   --product-cart-shadow: rgba(237, 237, 246, 0.20);

   //Like btn
   --like-btn-shadow: rgba(124, 124, 124, 0.20);

   //Filter form
   --filter-form-bg: #fff;
   --filter-form-shadow: rgba(200, 200, 200, 0.40);
   --filter-form-tag-bg: #F8F8FB;
   //Sign Up Page
   --auth-intro-bg: #FAFAFD;
--auth-content-bg: #fff;
}