@use "../abstracts";

.breadcrumbs {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 20px;
   border-radius: 1rem;
   min-height: 64px;
   padding: 20px;
   background: var(--breadcrumb-bg-color);
   box-shadow: 0 20px 60px 10px var(--breadcrumb-shadow);

   @include abstracts.screen(md) {
      gap: 16px;
   }

   &__link {
      display: flex;
      align-items: center;
      font-family: Gordita;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 150%;
      color: #9e9da8;
      white-space: nowrap;

      @include abstracts.screen(md) {
         font-size: 1.4rem;
      }

      &--current {
         color: inherit;
      }

   }
}