@use "../abstracts";

.cate-item {
   display: flex;
   gap: 2rem;
   padding: 2rem 2.6rem 2rem 2rem;
   border-radius: 1.6rem;
   background: var(--cate-item-bg);
   height: 100%;

   @include abstracts.screen(xl) {
      flex-direction: column;
   }

   @include abstracts.screen(md) {
      flex-direction: row;
   }

   &__thumb {
      width: 11.6rem;
      height: 11.6rem;
      object-fit: contain;
      border-radius: 0.8rem;
      background-color: var(--cate-item-thumb-bg);

      @include abstracts.screen(xl) {
         display: block;
         margin: 0 auto;
         width: 100%;
         height: 15rem;
      }

      @include abstracts.screen(md) {
         width: 8.8rem;
         height: 8.8rem;
         margin: 0;
      }
   }

   &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 30px;

      @include abstracts.screen(xxl) {
         padding-right: 0;
      }

      @include abstracts.screen(xl) {
         // align-items: center;
      }
   }

   &__title {
      color: var(--cate-item-title-color);
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 145.455%;

      @include abstracts.screen(md) {
         font-size: 1.8rem;
      }

   }

   &__desc {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 150%;
      margin-top: 6px;

      @include abstracts.screen(md) {
         font-size: 1.4rem;
      }
   }

}