.dropdown {
   position: absolute;
   left: 0;
   padding-top: 5.4rem;
   // visibility: hidden;
   // opacity: 0;
   transition: 0.3s ease;
   // mặc định cho nó ẩn

   &__inner {
      position: relative;
      padding: 30px;
      border-radius: 2rem;
      background: var(--dropdown-bg-color);
      box-shadow: 0 40px 90px 20px var(--dropdown-shadow-color);

      &::before {
         content: url("../icons/dropdown-arrow.svg");
         position: absolute;
         top: -13px;
         left: var(--arrow-left-pos);
         transform: translateX(-50%);
         filter: var(--dropdown-arrow-color);
      }
   }
}