@use "../abstracts";

.filter-wrap {
   position: relative;
   z-index: 1;
}

.filter {
   position: absolute;
   right: 0;
   top: 55px;
   border-radius: 20px;
   padding: 30px 0;
   background: var(--filter-form-bg);
   filter: drop-shadow(0 40px 90px var(--filter-form-shadow));
   transition: opacity, visibility;
   transition-duration: 0.2s;


   @include abstracts.screen(sm) {
      width: 100vw;
      height: 100vh;
      position: fixed;
      inset: 0;
      border-radius: 0;
   }

   &.hide {
      opacity: 0;
      visibility: hidden;

   }

   &__arrow {
      height: 20.5px;
      position: absolute;
      top: -13px;
      right: 19px;
      filter: var(--filter-form-arrow);
   }

   &__heading {
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 145.455%;
   }

   //-------------------- Form Start -------------------
   &__form {
      margin-top: 30px;

      &-label {
         display: block;
         font-size: 2.2rem;
         font-weight: 500;
         line-height: 145.455%;

         &--small {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
            margin-bottom: 10px;
         }
      }

      &-group {
         margin-top: 20px;

         &--inline {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 3rem;
         }
      }

      &-slider {
         position: relative;
         width: 100%;
         height: 0.2rem;
         background: #D2D1D6;

         &::before,
         &::after {
            content: "";
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 50%;
            border: 0.6rem solid #FFB700;
            background: var(--filter-form-bg);
         }

         &::before {
            left: var(--min-value);
         }

         &::after {
            left: var(--max-value);
         }
      }

      &-select-wrap,
      &-text-input {
         border: 1px solid #D2D1D6;
         border-radius: 0.6rem;

      }

      &-text-input {
         overflow: hidden;
         display: flex;
         align-items: center;
         width: 334px;
         height: 44px;
         padding: 0 16px;

         &--small {
            width: 12.21rem;
            height: 3.6rem;
            padding: 0.8rem 1.2rem;

            @include abstracts.screen(xl) {
               width: 100%;
            }
         }

         @include abstracts.screen(sm) {
            width: 100%;
         }
      }

      &-text-input--small &-input {
         font-size: 1.4rem;
      }

      &-input {
         width: 100%;
         font-family: Gordita;
         font-size: 1.5rem;
         font-weight: 500;
         line-height: 146.667%;

         &::placeholder {
            color: #9E9DA8;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 146.667%;
         }

         @include abstracts.screen(sm) {
            font-size: 1.6rem;
         }
      }

      &-input-icon {
         margin-left: 12px;
      }

      &-select-wrap {
         height: 45px;
         display: flex;
         align-items: center;
      }

      &-select {
         display: flex;
         align-items: center;
         padding: 0 14px;
         height: calc(100% - 10px);
         font-size: 1.4rem;
         font-weight: 500;
         line-height: 142.857%;
         min-width: var(--width, 108px);
         justify-content: space-between;
         cursor: pointer;

         @include abstracts.screen(xl) {
            flex: 1;
         }
      }

      &-select+&-select {
         border-left: 1px solid #D2D1D6;
      }


      &-tags {
         display: flex;
         gap: 10px 20px;
         flex-wrap: wrap;

         @include abstracts.screen(sm) {
            gap: 10px;
         }
      }

      &-tag {
         padding: 0.6rem 1.2rem;
         color: #9E9DA8;
         border-radius: 0.6rem;
         background: var(--filter-form-tag-bg);
         font-size: 1.4rem;
         font-weight: 500;
         line-height: 142.857%;
         transition: color 0.2s;

         &:hover {
            color: var(--text-color);
         }
      }
   }

   // --------------------End Form-------------------

   &__separate {
      width: 0.1rem;
      background: #EEE;
      margin: 0 30px;

      @include abstracts.screen(xl) {
         width: 100%;
         margin: 30px 0;
         height: 0.1rem;
      }
   }


   &__row {
      display: flex;
   }

   &__footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 32px;

      @include abstracts.screen(sm) {
         position: sticky;
         bottom: 0;
      }

   }

   &__cancel,
   &__submit {
      height: 38px;
      padding: 0 10px;

      @include abstracts.screen(sm) {
height: 42px;
         flex: 1;
      }
   }

   &__cancel {
      font-size: 1.5rem;
   }

   &__submit {
      font-size: 1.4rem;
   }

   &__heading,
   &__content,
   &__footer {
      padding: 0 30px;
   }

   &__content {
      max-height: calc(100vh - 350px);
      overflow-y: auto;
      overscroll-behavior: contain;


      @include abstracts.screen(xl) {
         flex-direction: column;

      }

      @include abstracts.screen(sm) {
         max-height: calc(100vh - 230px);
      }

   }
}