@use "../abstracts";

$error-color: #ed4337;

.form {
   &__row {
      display: flex;
      gap: 30px;

      >* {
         flex: 1;
      }

      @include abstracts.screen(md) {
         gap: 20px;
      }

      @include abstracts.screen(sm) {
         flex-direction: column;
         gap: 0;
      }
   }

   /* Khi trong form có bất kỳ ô nào :invalid → disable nút Submit */
   &:has(:invalid) &__submit-btn {
      opacity: 0.5;
      pointer-events: none;
   }

   &__group {
      margin-top: 30px;

      @include abstracts.screen(md) {
         margin-top: 20px;
      }

      &--inline {
         display: flex;
         align-items: center;
      }
   }

   /* 
      Khi .form__group chứa:
      1. Một input bị invalid
      2. Và input đó KHÔNG còn placeholder (tức là user đã nhập nhưng nhập sai)
      → Thì hiển thị border đỏ, icon lỗi, text lỗi
   */
   &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
      .form__text-input {
         border-color: $error-color;
         background: rgba($color: $error-color, $alpha: 0.1);
      }

      .form__error,
      .form__input-icon-error {
         display: block;
      }

      .form__input-icon {
         display: none;
      }
   }

   &__text-area,
   &__text-input {
      display: flex;
      align-items: center;
      padding: 0 1.2rem;
      border-radius: 1rem;
      border: 1.5px solid #D2D1D6;

      /* Khi user click vào input bên trong → đổi border */
      &:focus-within {
         border-color: #77DAE6;
      }

      &--small {
         border-radius: 8px;
      }
   }

   &__text-input {
      position: relative;
      height: 50px;

      &--small {
         height: 42px;
      }

      @include abstracts.screen(md) {
         height: 48px;
      }
   }

   &__text-area {
      padding: 12px;
      height: 100px;

      &-input {
         resize: none;
      }
   }

   &__text-area-input,
   &__input {
      flex: 1;
      width: 100%;
      height: 100%;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 144.444%;

      &::placeholder {
         color: var(--form-placeholder-color);
      }

      @include abstracts.screen(md) {
         font-size: 1.6rem;
      }
   }

   &__input {

      &-icon {
         margin-left: 12px;

         &-error {
            height: 20px;
            display: none;
            margin-left: 12px;
            animation: shake 0.5s;
         }
      }
   }

   &__select-dialog {
      z-index: 1;
      display: flex;
      flex-direction: column;
      background-color: var(--form-select-dialog-bg);

      min-width: 230px;
      max-height: 310px;
      position: absolute;
      bottom: 44px;
      left: 10px;
      padding-bottom: 10px;
      border: 1px solid #d2d1d6;
      border-radius: 10px;
      box-shadow: 0 0 5px var(--form-select-dialog-shadow);

      opacity: 0;
      visibility: hidden;
      transition: translate, opacity, visibility;
      transition-duration: 0.2s;
      translate: 0 -20px;

      &.show {
         opacity: 1;
         visibility: visible;
         translate: 0;
      }

      @include abstracts.screen(sm) {
         position: fixed;
         min-width: initial;
         max-height: initial;
         inset: 0;
         border-radius: 0;

      }
   }

   &__close-dialog {
      font-size: 3rem;
      position: absolute;
      top: 0;
      right: 0;
      padding: 2px 18px;
      opacity: 0.8;
   }

   // &__input:focus~&__select-dialog {
   //    opacity: 1;
   //    visibility: visible;
   //    translate: 0;
   // }

   &__search {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      border-bottom: 1px solid #d2d1d6;
      padding-bottom: 5px;
      padding: 0 20px;
      height: 38px;

      @include abstracts.screen(lg) {

         height: 42px;
      }

      @include abstracts.screen(sm) {
         margin-top: 30px;
         flex-direction: row-reverse;
      }

      &-input {
         flex: 1;
         height: 100%;
         font-size: 1.6rem;

         @include abstracts.screen(sm) {
            padding-left: 8px;

         }
      }

      &-icon {
         width: 18px;
         margin-left: 10px;

         @include abstracts.screen(sm) {
            margin-left: 0;

         }
      }
   }

   &__options-list {
      margin-top: 10px;
      flex: 1;
      overflow-y: auto;
      overscroll-behavior: contain;
   }

   &__option {
      padding: 8px 20px;
      font-size: 1.4rem;

      @include abstracts.screen(lg) {
         padding: 14px 20px;
      }

      &--current {
         font-weight: 500;
         background-color: rgba($color: #ffb700, $alpha: 0.6)
      }

      &:not(&--current):hover {
         background-color: var(--option-hover-bg);
         cursor: pointer;
      }


   }

   &__error {
      font-size: 1.4rem;
      display: none;
      color: $error-color;
      margin-top: 10px;
   }

   /* -----------------------------------------------
      TÙY CHỈNH CHECKBOX THAY CHO STYLE MẶC ĐỊNH CỦA TRÌNH DUYỆT
      ----------------------------------------------- */
   &__checkbox {
      position: relative;
      /* Để ::before và ::after nằm đúng vị trí */
      display: flex;
      align-items: center;
      user-select: none;
      /* Không cho bôi đen chữ khi click */

      /* Label nằm bên phải ô checkbox */
      &-label {
         margin-left: 29px;
         color: #9E9DA8;
         font-size: 1.5rem;
         font-weight: 500;

         @include abstracts.screen(md) {
            font-size: 1.4rem;
         }
      }

      /* Tạo 2 pseudo-element để vẽ checkbox ▢ và dấu ✓ */
      &::before,
      &::after {
         content: "";
         position: absolute;
      }

      /* 
         ::before = khung checkbox (hình vuông)
         Mặc định là xám
      */
      &::before {
         width: 19px;
         height: 19px;
         border-radius: 5px;
         border: 1.5px solid #9E9DA8;
      }
   }

   /* 
      Khi input[type=checkbox] bên trong được check:
      .form__checkbox:has(:checked)
      → Tô màu ô vuông và hiển thị dấu ✓
   */
   &__checkbox:has(:checked) {

      /* Ô vuông thành màu vàng */
      &::before {
         border-color: #ffb700;
         background-color: #ffb700;
      }

      /* ::after = dấu check (vẽ bằng border) */
      &::after {
         width: 15px;
         height: 9px;
         border: 3px solid;
         border-color: transparent transparent #fff #fff;
         /* Chỉ giữ góc dưới bên trái */
         rotate: -45deg;
         /* Xoay thành dấu ✓ */
         left: 2px;
         top: 1px;
      }
   }

   &__pull-right {
      margin-left: auto;
   }

   &__label {
      display: block;
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 145.455%;

      &--small {
         font-size: 1.4rem;
         font-weight: 500;
         line-height: 142.857%;
         margin-bottom: 10px;
      }
   }

   &__select-wrap {
      border: 1px solid #D2D1D6;
      border-radius: 0.6rem;
      height: 45px;
      display: flex;
      align-items: center;

   }

   &__select {
      display: flex;
      align-items: center;
      padding: 0 14px;
      height: calc(100% - 10px);
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 142.857%;
      min-width: var(--width, 108px);
      justify-content: space-between;
      cursor: pointer;

      @include abstracts.screen(xl) {
         flex: 1;
      }
   }

   &__select+&__select {
      border-left: 1px solid #D2D1D6;
   }

   &__tags {
      display: flex;
      gap: 10px 20px;
      flex-wrap: wrap;

      @include abstracts.screen(sm) {
         gap: 10px;
      }
   }

   &__tag {
      padding: 0.6rem 1.2rem;
      color: #9E9DA8;
      border-radius: 0.6rem;
      background: var(--form-tag-bg);
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 142.857%;
      transition: color 0.2s;

      &:hover {
         color: var(--text-color);
      }
   }
}