.product-card {
   display: flex;
   flex-direction: column;
   height: 100%;
   border-radius: 2rem;
   background: var(--product-cart-bg);
   box-shadow: 0 20px 60px 10px var(--product-cart-shadow);
   padding: 1.6rem;

   &__img-wrap {
      padding-top: 100%;
      position: relative;

   }

   &__thumb {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
   }

   &__like-btn {
      position: absolute;
      right: 0;
      bottom: 0;
   }

   &__title {
      margin-top: 1.6rem;
   }

   &__title,
   &__price,
   &__score {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 150%;
   }

   &__brand {
      margin: 1.6rem 0;
      color: #9E9DA8;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 146.667%;
   }

   &__row {
      display: flex;
      align-items: center;
      margin-top: auto;
   }

   &__star {
      margin: 0 0.6rem 0 auto;
   }
}