@use "../abstracts";

%flexItemCenter {
   display: flex;
   align-items: center;
}

.header {
   background: var(--header-bg-color);

   @include abstracts.breakpoint(lg) {
      box-shadow: 0 20px 60px 10px var(--header-shadow-color);
   }

   @include abstracts.breakpoint(sm) {}

}

.top-bar {
   @extend %flexItemCenter;
   padding: 30px 0;
   position: relative;

   @include abstracts.breakpoint(lg) {
      padding: 2rem;
   }

   @include abstracts.breakpoint(md) {
      justify-content: space-between;
   }

   @include abstracts.breakpoint(sm) {
      padding: 1.6rem;
   }

   &__more {
      display: none;

      @include abstracts.breakpoint(lg) {
         display: block;
      }
   }
}

.navbar {
   margin-left: 129px;

   // margin-right: auto;
   @include abstracts.breakpoint(xl) {
      margin-left: 28px;
   }

   @include abstracts.breakpoint(lg) {
      display: none;
   }

   &__list {
      @extend %flexItemCenter;
      // gap: 30px
   }

   &__item {

      // Khi tác động vào thẻ a > hiện dropdown
      &:hover .dropdown {
         visibility: visible;
         opacity: 1;
      }

      // xóa padding khỏi 2 thẻ a trong nav bar để tránh bị lỗi responsive

   }


   &__link {
      height: 50px;
      // bỏ gap 30px ở __list -> thêm 15px padding vào ở đây để ko bị khoảng trống giữa các thẻ li -> ko bị nháy khi di chuột
      padding: 0 1.5rem;
      font-family: Gordita;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.46;
      @extend %flexItemCenter;
      gap: 6px;
   }

   &__arrow {
      margin-top: 3px;
   }

}

.top-act {
   @extend %flexItemCenter;
   gap: 20px;
   // padding: 30px 0;
   margin-left: auto;

   @include abstracts.breakpoint(md) {
      margin-left: 0;
   }

   &__group {
      @extend %flexItemCenter;
      min-width: 50px;
      height: 50px;
      border-radius: 0.8rem;
      background: var(--top-act-group-bg-color);
      box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);

      @include abstracts.breakpoint(md) {
         display: none;
      }
   }

   &__group--single {
      @include abstracts.breakpoint(lg) {
         display: none;
      }
   }

   &__group--single &__btn {
      padding: 13px;
   }

   &__btn {
      padding: 13px 20px;
      @extend %flexItemCenter;
      gap: 10px;
      cursor: pointer;
   }

   &__title {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.46;
   }

   &__separate {
      width: 0.1rem;
      height: 3rem;
      background: var(--top-act-group-separate);
   }

   &__avatar {
      width: 50px;
      height: 50px;
      border-radius: 0.8rem;
      display: block;
      cursor: pointer;
   }
}