@use "../abstracts";

%flexItemCenter {
   display: flex;
   align-items: center;
}

.header {
   background: var(--header-bg-color);

   @include abstracts.screen(lg) {
      box-shadow: 0 20px 60px 10px var(--header-shadow-color);
   }

   @include abstracts.screen(sm) {}

}

.top-bar {
   @extend %flexItemCenter;
   padding: 30px 0;
   position: relative;
   z-index: 1;

   @include abstracts.screen(lg) {
      padding: 2rem 0;
   }

   @include abstracts.screen(md) {
      justify-content: space-between;
   }

   @include abstracts.screen(sm) {
      padding: 1.6rem 0;
   }

   &__logo {
      @include abstracts.screen(lg) {
         gap: 10px !important;
         margin-left: 40px;

         &-title {
            font-size: 1.8rem !important;
         }

         &-img {
            width: 24px;
         }
      }

      @include abstracts.screen(md) {
         margin-left: 0;
         position: absolute;
         top: 50%;
         left: 50%;
         translate: -50% -50%;
      }




   }

}

.navbar {
   margin-left: 129px;

   // margin-right: auto;
   @include abstracts.screen(xl) {
      margin-left: 28px;
   }

   @include abstracts.screen(lg) {
      // display: none;
      position: fixed;
      inset: 0 50% 0 0;
      margin-left: 0;
      z-index: 9;
      background-color: var(--sidebar-bg);
      padding: 20px 0;
      translate: -100%;
      border-radius: 0px 20px 20px 0;
      transition: translate 0.5s ease;

      &.show {
         translate: 0;
         box-shadow: 0px 40px 90px 20px var(--sidebar-shadow);
      }

      &.show~&__overlay {
         opacity: 1;
         visibility: visible;
         // display: block;
      }
   }

   @include abstracts.screen(sm) {
      inset: 0 20% 0 0;
   }

   &__list {
      @extend %flexItemCenter;

      // gap: 30px
      @include abstracts.screen(lg) {
         flex-direction: column;
         align-items: flex-start;
         height: calc(100% - 28px);
         overflow-y: auto;
         overscroll-behavior: contain;
      }

      @include abstracts.screen(md) {
         height: calc(100% - 142px);
      }

      @include abstracts.screen(sm) {
         height: calc(100% - 120px);
      }
   }

   &__item {

      // Khi tác động vào thẻ a > hiện dropdown
      &:hover .dropdown {
         // visibility: visible;
         // opacity: 1;
         display: block;
      }

      @include abstracts.screen(lg) {
         width: 100%;

         &:hover .dropdown {
            // visibility: hidden;
            // opacity: 0;
            display: none;
         }

         &--active .dropdown {
            display: block !important;
         }
      }
   }

   &__overlay {
      visibility: hidden;
      opacity: 0;
      transition: opacity, visibility 0.5s ease;

      @include abstracts.screen(lg) {
         position: fixed;
         z-index: 8;
         background: rgba(0, 0, 0, 0.4);
         inset: 0;
      }
   }


   &__link {
      height: 50px;
      // bỏ gap 30px ở __list -> thêm 15px padding vào ở đây để ko bị khoảng trống giữa các thẻ li -> ko bị nháy khi di chuột
      padding: 0 1.5rem;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.46;
      @extend %flexItemCenter;
      gap: 6px;

      @include abstracts.screen(lg) {
         padding: 0 4rem;
         font-size: 1.6rem;
         line-height: 150%;
         justify-content: space-between;
      }

      @include abstracts.screen(sm) {
         padding: 0 2rem;
         height: 44px;
      }
   }

   &__arrow {
      margin-top: 3px;

      @include abstracts.screen(lg) {
         rotate: -90deg;
         transition: rotate 0.3s ease;
      }
   }

   &__item--active &__arrow {
      rotate: 0deg;

   }

   &__close--btn {
      @include abstracts.screen(lg) {
         padding: 1rem 4rem;
      }

      @include abstracts.screen(sm) {
         padding: 0 2rem 1rem;
      }
   }

}

.top-act {
   @extend %flexItemCenter;
   gap: 20px;
   // padding: 30px 0;
   margin-left: auto;

   @include abstracts.screen(md) {
      margin-left: 0;

      &__sign-up {
         height: 40px !important;
         padding: 0 8px !important;
         font-size: 1.5rem !important;
      }
   }

   &__group {
      @extend %flexItemCenter;
      min-width: 50px;
      height: 50px;
      border-radius: 0.8rem;
      background: var(--top-act-group-bg-color);
      box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);
   }

   &__group--single &__btn {
      padding: 13px;
   }

   &__btn-wrap {
      position: relative;
      &:hover .act-dropdown{
         display: block;
      }
   }

   &__btn {
      padding: 13px 20px;
      @extend %flexItemCenter;
      gap: 10px;
      cursor: pointer;
   }

   &__title {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.46;
   }

   &__separate {
      width: 0.1rem;
      height: 3rem;
      background: var(--top-act-group-separate);
   }

   &__avatar {
      width: 50px;
      height: 50px;
      border-radius: 0.8rem;
      display: block;
      cursor: pointer;
   }
}

.nav-btn {
   height: 50px;
   padding: 0 40px;
   align-items: center;

   &__title,
   &__qty {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;

   }

   &__title {
      margin-left: 16px;
   }

   &__qty {
      margin-left: auto;
   }

   @include abstracts.screen(sm) {
      padding: 0 2rem;
      height: 44px;
   }
}

.act-dropdown {
   position: absolute;
   top: 48px;
   right: -62px;
   display: none;
   padding-top: 28px;

   &__inner {
      position: relative;
      padding: 30px;
      // height: 73.4rem;
      width: min(50rem, 100vw);
      border-radius: 2rem;
      background: var(--act-dropdown-bg);
      box-shadow: 0 40px 90px 20px var(--act-dropdown-shadow);
   }

   &__arrow {
      position: absolute;
      top: -14px;
      right: 82px;
      height: 20.5px;
      filter: var(--dropdown-arrow-color);
   }

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
   }

   &__title {
      color: inherit;
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 145.455%;
   }

   &__view-all {
      color: var(--Blue-Blue, #0071DC);
      font-size: 1.8rem;
      line-height: 145.455%;
   }

   &__bottom {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin: 2rem 0;
      padding: 3rem 0;
      border-style: solid;
      // border-top-width: 1px;
      // border-bottom-width: 1px;
      border-width: 1.5px 0;
      border-color: var(--act-dropdown-separator-color);
   }

   &__row {
      display: flex;
      justify-content: space-between;

      &--bold {
         font-weight: 500;
      }
   }

   &__list {
      flex-wrap: nowrap;
      overflow-x: auto;
      padding-bottom: 10px;
   }

   &__label,
   &__value {
      color: inherit;
      font-size: 1.8rem;
      line-height: 145.455%;
   }

   &__checkout {
      justify-content: flex-end;
      display: flex;
   }

   &__checkout-btn {
      min-width: 27.8rem !important;
   }
}

.cart-preview-item {
   text-align: left;

   &__img-wrap {
      position: relative;
      padding-top: 100%;
      border: 1.5px solid var(--act-dropdown-separator-color);
      border-radius: 10px;
   }

   &__thumb {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      background-color: #0000000D;
   }

   &__title {
      margin-top: 1.4rem;
      color: inherit;
      font-size: 1.4rem;
      line-height: 142.857%;
   }

   &__price {
      margin-top: 0.6rem;
      color: inherit;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;
   }
}