@use "../abstracts";

%flexItemCenter {
   display: flex;
   align-items: center;
}

.header {
   background: var(--header-bg-color);

   @include abstracts.breakpoint(lg) {
      box-shadow: 0 20px 60px 10px var(--header-shadow-color);
   }

   @include abstracts.breakpoint(sm) {}

}

.top-bar {
   @extend %flexItemCenter;
   padding: 30px 0;
   position: relative;

   @include abstracts.breakpoint(lg) {
      padding: 2rem;
   }

   @include abstracts.breakpoint(md) {
      justify-content: space-between;
   }

   @include abstracts.breakpoint(sm) {
      padding: 1.6rem;
   }
}

.navbar {
   margin-left: 129px;

   // margin-right: auto;
   @include abstracts.breakpoint(xl) {
      margin-left: 28px;
   }

   @include abstracts.breakpoint(lg) {
      // display: none;
      position: fixed;
      inset: 0 50% 0 0;
      margin-left: 0;
      z-index: 9;
      background-color: #fff;
      padding: 20px 0;
      translate: -100%;
      transition: translate 0.5s ease;

      &.show {
         translate: 0;
      }

      &.show~&__overlay {
         opacity: 1;
         visibility: visible;
      }
   }

   &__list {
      @extend %flexItemCenter;

      // gap: 30px
      @include abstracts.breakpoint(lg) {
         flex-direction: column;
         align-items: flex-start;
      }
   }

   &__item {

      // Khi tác động vào thẻ a > hiện dropdown
      &:hover .dropdown {
         visibility: visible;
         opacity: 1;
      }

      @include abstracts.breakpoint(lg) {
         width: 100%;
         //ẩn drop down menu ở trên tablet
         &:hover .dropdown {
            visibility: hidden;
            opacity: 0;
         }
      }
   }

   &__overlay {
      visibility: hidden;
      opacity: 0;
      transition: opacity, visibility 0.5s ease;

      @include abstracts.breakpoint(lg) {
         position: fixed;
         z-index: 8;
         background: rgba(0, 0, 0, 0.4);
         inset: 0;
      }
   }


   &__link {
      height: 50px;
      // bỏ gap 30px ở __list -> thêm 15px padding vào ở đây để ko bị khoảng trống giữa các thẻ li -> ko bị nháy khi di chuột
      padding: 0 1.5rem;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.46;
      @extend %flexItemCenter;
      gap: 6px;

      @include abstracts.breakpoint(lg) {
         padding: 0 4rem;
         font-size: 1.6rem;
         line-height: 150%;
         justify-content: space-between;
      }
   }

   &__arrow {
      margin-top: 3px;
   }

   &__close--btn {

      @include abstracts.breakpoint(lg) {
         padding: 1rem 4rem;
      }
   }

}

.top-act {
   @extend %flexItemCenter;
   gap: 20px;
   // padding: 30px 0;
   margin-left: auto;

   @include abstracts.breakpoint(md) {
      margin-left: 0;
   }

   &__group {
      @extend %flexItemCenter;
      min-width: 50px;
      height: 50px;
      border-radius: 0.8rem;
      background: var(--top-act-group-bg-color);
      box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);
   }

   &__group--single &__btn {
      padding: 13px;
   }

   &__btn {
      padding: 13px 20px;
      @extend %flexItemCenter;
      gap: 10px;
      cursor: pointer;
   }

   &__title {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.46;
   }

   &__separate {
      width: 0.1rem;
      height: 3rem;
      background: var(--top-act-group-separate);
   }

   &__avatar {
      width: 50px;
      height: 50px;
      border-radius: 0.8rem;
      display: block;
      cursor: pointer;
   }
}