@use "../abstracts";

.auth {
   min-height: 100vh;
   display: flex;

   &__intro,
   &__content {
      flex: 1;
      padding: 0 30px;
   }

   &__intro {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;
      background-color: var(--auth-intro-bg);
      &-logo{
         display: none;
      }

      &-img {
         max-width: 100%;
      }

      &-text {
         max-width: 412px;
         text-align: center;
         font-size: 1.8rem;
         font-weight: 500;
         line-height: 144.444%;
      }

      &-logo,
      &-next {
         position: absolute;
         translate: -50%;
      }

      &-logo {
         top: 80px;
         left: 50%;
      }

      &-next {
         bottom: 50px;
         left: 50%;
      }
   }

   &__content {
      background: var(--auth-content-bg);

      @include abstracts.screen(md) {
         position: fixed;
         inset: 0;
         z-index: 1;
         transition: translate 0.3s;
         overflow-y: auto;

         &.hide {
            translate: 100%;
         }
      }

      &-inner {
         padding: 50px 0;
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
         width: min(460px, 100%);
         // background: orange;
         margin: 0 auto;
      }

   }

   &__heading {
      margin-top: 50px;
      font-size: 3rem;
      font-weight: 500;
      line-height: 146.667%;
   }

   &__desc {
      margin-top: 10px;
      color: #9e9da8;
      //  text-align: center;
      padding: 0 30px;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;
      /* */
   }

   &__form {
      width: 100%;
      margin-top: 30px;
   }

   &__link {
      color: #0071DC;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;

      &--lg {
         font-size: 1.8rem;
         line-height: 144.444%;
      }
   }

   &__btn-group {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 3rem;
   }

   &__btn {
      width: 100%;
   }


   &__text {
      margin-top: 10.8rem;
      color: #9E9DA8;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 144.444%;
   }

}