@use "../abstracts";

.checkout-page {
   display: flex;
   flex-direction: column;
   min-height: 80vh;
   padding-bottom: 50px;

   &__breadcrumbs {
      background-color: var(--checkout-breadcrumb-bg);
   }
}

.checkout-container {
   margin-top: 30px;

   @include abstracts.screen(md) {
      margin-top: 20px;
   }
}

.cart-info+.cart-info {
   margin-top: 30px;
}

.cart-info {
   padding: 30px;
   border-radius: 2rem;
   background-color: var(--checkout-cart-info-bg);
   box-shadow: 0 20px 60px 10px var(--checkout-cart-info-shadow);

   @include abstracts.screen(md) {
      padding: 16px;
   }

   &__heading {
      color: inherit;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 141.667%;
   }

   &__sub-heading {
      margin: 30px 0;
      color: inherit;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 144.444%;
   }

   &__list {
      margin-top: -30px;

      @include abstracts.screen(md) {
         margin-top: -16px;
      }
   }

   &__bottom {
      margin-top: 30px;
   }

   &__continue {
      display: flex;
      height: 100%;
      align-items: flex-end;
   }

   &__row,
   &__continue-link {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 144.444%;
      color: inherit;
   }

   &__continue-link {
      //  margin-top: auto;
      display: flex;
      align-items: center;
      gap: 1rem;

      &-icon {
         rotate: 90deg;
         transition: translate 0.3s;
      }

      &:hover &-icon {
         translate: -5px;
      }
   }

   &__row+&__row {
      margin-top: 1rem;
   }

   &__row {
      display: flex;
      justify-content: space-between;

      &--sub {
         font-weight: 400;
      }

      &--total {
         font-size: 2.2rem;
         font-weight: 700;
      }

      &-gift {
         gap: 2rem;
      }
   }

   &__separator {
      height: 0.1rem;
      background: var(--checkout-border-color);
      margin: 30px 0;

      &--small {
         margin: 14px 0;
      }
   }

   &__checkout-btn {
      margin-top: 30px;
      padding: 1.8rem 2rem;
      color: inherit;
      font-size: 2.2rem;
      line-height: 145.455%;
   }
}

.gift-item {
   display: flex;
   align-items: center;
   gap: 2rem;

   &__icon-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 76px;
      height: 76px;
      border-radius: 1.4rem;
      background: rgb(118, 68, 225, 0.1);
      box-shadow: 0 20px 60px 10px var(--checkout-gift-shadow);
      padding: 1rem;
   }

   &__title {
      color: inherit;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 144.444%;
   }

   &__desc {
      color: inherit;
      margin-top: 1rem;
      font-size: 1.4rem;
      line-height: 142.857%;
   }
}

.cart-item {
   display: flex;
   gap: 30px;
   padding: 30px 0;
   border-bottom: 1px solid var(--checkout-border-color);

   @include abstracts.screen(md) {
      padding: 16px 0;
      gap: 16px;

      &:last-child {
         border: none;
      }
   }

   &__content {
      flex: 1;
      display: flex;
      align-self: flex-start;

      @include abstracts.screen(md) {
         flex-direction: column;
      }

      &-left {
         flex: 1;
      }

      &-right {
         display: flex;
         flex-direction: column;

         @include abstracts.screen(md) {
            margin-top: 1.6rem;
         }
      }
   }

   // &__thumb-wrap {
   //    display: block;
   //    position: relative;
   //    width: 175px;
   //    padding-top: 100%;
   // }

   &__thumb {
      width: 175px;
      height: 175px;
      object-fit: contain;

      @include abstracts.screen(xxl) {
         width: 150px;
         height: 150px;
      }

      @include abstracts.screen(lg) {
         width: 100px;
         height: 100px;
      }

      @include abstracts.screen(md) {
         width: 60px;
         height: 60px;
      }
   }

   &__title {
      color: inherit;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 144.444%;
      max-width: 374px;
   }

   &__price-wrap {
      margin: 1.6rem 0;
      color: #9e9da8;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 144.444%;
   }

   &__status {
      color: #67b044;
   }

   &__ctrl {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-top: auto;
      min-height: 44px;

      &--md-block {
         @include abstracts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
         }
      }
   }

   &__input {
      display: flex;
      align-items: center;
      height: 44px;
      padding: 0 20px;
      gap: 10px;
      border-radius: 1rem;
      border: 1px solid #D2D1D6;
      color: inherit;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;

      &-btn {
         display: flex;
      }
   }

   &__total-price {
      color: inherit;
      text-align: right;
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 145.455%;

      @include abstracts.screen(md) {
         text-align: left;
         margin-bottom: 16px;
      }
   }

   &__ctrl-btn {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #9e9da8;
      font-weight: 500;
      line-height: 150%;

      &:last-child {
         margin-left: 10px;
      }
   }
}

.user-address {
   &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;

      @include abstracts.screen(md) {
         flex-direction: column;
         align-items: flex-start;
      }
   }

   &__btn {
      @include abstracts.screen(md) {
         height: 46px;
      }
   }

   &__title {
      color: inherit;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 144.444%;
   }

   &__desc {
      color: inherit;
      font-size: 1.5rem;
      line-height: 146.667%;
      margin-top: 4px;
   }

   &__message {
      margin-top: 30px;
      font-weight: 500;
   }

   &__link {
      color: #0071dc;
   }
}

.address-card {
   margin-top: 30px;
   display: flex;
   gap: 16px;

   @include abstracts.screen(md) {
      flex-direction: column;
   }

   &__left {
      flex: 1;
      display: flex;
      gap: 16px;
   }

   &__title {
      color: inherit;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 144.444%;
   }

   &__desc {
      margin-top: 4px;
      color: inherit;
      font-size: 1.5rem;
      line-height: 146.667%;
      width: min(520px, 90%);
   }

   &__list {
      margin-top: 20px;
      display: flex;
      gap: 22px;
      color: inherit;
      font-size: 1.4rem;
      line-height: 142.857%;
      list-style: disc inside;

      @include abstracts.screen(sm) {
         flex-direction: column;
         gap: 16px;
      }

      &-item {
         padding-left: 8px;
      }
   }

   &__ctrl {
      height: 100%;
      display: flex;
      align-items: flex-end;

      &-btn {
         display: flex;
         align-items: center;
         gap: 10px;
         color: inherit;
         font-size: 1.8rem;
         line-height: 144.444%;
      }
   }

   &__checkbox {
      // position: relative;

      &-input {
         appearance: none;

         &::before {
            content: url(../icons/checkbox-uncheck.svg);
         }

         &:not(:checked)::before {
            filter: var(--icon-color);

         }

         &:checked::before {
            content: url(../icons/checkbox-checked.svg)
         }
      }
   }

}