.product-page {
   display: flex;
   flex-direction: column;
   min-height: 80vh;
   background: var(--product-detail-bg);
}

.product-container {
   margin-top: 30px;
}

.prod-preview {
   padding: 0 30px;

   &__list {
      display: flex;
      overflow: hidden;
   }

   &__item {
      width: 100%;
      flex-shrink: 0;
      padding-top: 92%;
      position: relative;
   }

   &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
   }

   &__thumbs {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      gap: 16px;
   }

   &__thumb-img {
      width: 65px;
      height: 65px;
      object-fit: contain;
      border: 1.5px solid rgb(158, 157, 168, 0.3);
      border-radius: 8px;
      cursor: pointer;
      opacity: 0.9;
      transition: opacity border-color;
      transition-duration: 0.3s;

      &:hover {
         opacity: 1;
         border-color: #9e9da8;
      }

      &--current {
         opacity: 1;
         border-color: #FFB700;
      }
   }
}

.prod-info {
   padding: 60px;
   background: #F6F6F6;

   &__heading {
      color: var(--prod-info-heading-color);
      font-size: 2.6rem;
      font-weight: 500;
      line-height: 138.462%;
   }
}

.prod-prop {
   display: flex;
   gap: 16px;
   margin-top: 30px;

   &__icon {
      align-self: flex-start;
   }

   &__title {
      color: var(--prod-prop-title-color);
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 144.444%;
   }

   &__desc {
      margin-top: 4px;
      color: var(--prod-prop-desc-color);
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 142.857%;
   }
}