.product-page {
   display: flex;
   flex-direction: column;
   min-height: 80vh;
   background: var(--product-detail-bg);
}

.product-container {
   margin-top: 30px;
}

.prod-preview {
   padding: 0 30px;

   &__list {
      display: flex;
      overflow: hidden;
   }

   &__item {
      width: 100%;
      flex-shrink: 0;
      padding-top: 92%;
      position: relative;
   }

   &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
   }

   &__thumbs {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      gap: 16px;
   }

   &__thumb-img {
      width: 65px;
      height: 65px;
      object-fit: contain;
      border: 1.5px solid rgb(158, 157, 168, 0.3);
      border-radius: 8px;
      cursor: pointer;
      opacity: 0.9;
      transition: opacity border-color;
      transition-duration: 0.3s;

      &:hover {
         opacity: 1;
         border-color: #9e9da8;
      }

      &--current {
         opacity: 1;
         border-color: #FFB700;
      }
   }
}

.prod-info {
   padding: 60px;
   background: #F6F6F6;

   &__heading {
      color: var(--prod-info-heading-color);
      font-size: 2.6rem;
      font-weight: 500;
      line-height: 138.462%;
   }

   &__label {
      margin-top: 30px;
   }

   &__tag {
      background: #EDEDF6;
   }

   &__card {
      margin-top: 30px;
      padding: 20px;
      border-radius: 0.6rem;
      border: 1px solid var(--Dark-3, #B9BABE);
      width: 31.3rem;
   }

   &__row {
      display: flex;
      // gap: 1rem;
   }

   &__price {
      color: #000;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 150%;
   }

   &__tax {
      color: #67B044;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 142.857%;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%), #67B044;
      padding: 0.2rem 0.8rem;
      margin-left: 1rem;
   }

   &__total-price {
      margin-top: 2.3rem;
      margin-bottom: 2rem;
      color: #000;
      font-size: 2.6rem;
      font-weight: 500;
      line-height: 138.462%;
   }

   &__add-to-cart {
      flex: 1;
   }

   &__like-btn {
      border-radius: 0.6rem;
      border: 1px solid #D2D1D6;
      width: 4.6rem;
      height: 4.6rem;
      margin-left: 2rem;
      background: transparent;
      box-shadow: none;
   }
}

.prod-prop {
   display: flex;
   gap: 16px;
   margin-top: 30px;

   &__icon {
      align-self: flex-start;
   }

   &__title {
      color: var(--prod-prop-title-color);
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 144.444%;
   }

   &__desc {
      margin-top: 4px;
      color: var(--prod-prop-desc-color);
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 142.857%;
   }

}

.prod-props {
   padding-left: 30px;
}