@use "../abstracts";

.product-page {
   display: flex;
   flex-direction: column;
   min-height: 80vh;
   background: var(--product-detail-bg);
   padding-bottom: 50px;
}

.product-container {
   margin-top: 30px;

   @include abstracts.screen(md) {
      margin-top: 20px;
   }
}

.prod-info-container {
   @include abstracts.screen(md) {
      border-radius: 2rem;
      background: var(--prod-info-container-bg-color);
      box-shadow: 0 20px 60px 10px var(--prod-info-container-shadow);
   }
}

.prod-preview {
   padding: 0 30px;

   @include abstracts.screen(lg) {
      display: flex;
      flex-direction: row-reverse;
   }

   @include abstracts.screen(md) {
      padding: 16px;
   }

   &__list {
      display: flex;
      overflow: hidden;

      @include abstracts.screen(lg) {
         flex: 1;
      }
   }

   &__item {
      width: 100%;
      flex-shrink: 0;
      padding-top: 92%;
      position: relative;
   }

   &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
   }

   &__thumbs {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      gap: 16px;

      @include abstracts.screen(lg) {
         flex-direction: column;
         padding-left: 0;
      }

      @include abstracts.screen(md) {
         display: none;
      }
   }

   &__thumb-img {
      width: 65px;
      height: 65px;
      object-fit: contain;
      border: 1.5px solid rgb(158, 157, 168, 0.3);
      border-radius: 8px;
      opacity: 0.9;
      transition: opacity border-color;
      transition-duration: 0.3s;

      &:not(&--current):hover {
         opacity: 1;
         border-color: #9e9da8;
         cursor: pointer;
      }

      &--current {
         opacity: 1;
         border-color: #ffb700;
      }
   }
}

.prod-info {
   padding: 60px;
   background: var(--product-info-bg-color);

   @include abstracts.screen(xxl) {
      padding: 40px;
   }

   @include abstracts.screen(lg) {
      margin-top: 30px;
   }

   @include abstracts.screen(md) {
      margin-top: 0;
      padding: 0 16px 16px;
      border-radius: 20px;
   }

   &__heading {
      color: var(--prod-info-heading-color);
      font-size: 2.6rem;
      font-weight: 500;
      line-height: 138.462%;
   }

   &__label {
      margin-top: 30px;
   }

   &__tag {
      background: var(--prod-tag-bg-color);
   }

   &__card {
      margin-top: 30px;
      padding: 20px;
      border-radius: 0.6rem;
      border: 1px solid var(--Dark-3, #b9babe);
      // width: 31.3rem;
   }

   &__row {
      display: flex;
      // gap: 1rem;
   }

   &__price {
      color: var(--prod-info-price-color);
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 150%;
   }

   &__tax {
      color: #67b044;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 142.857%;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), #67b044;
      padding: 0.2rem 0.8rem;
      margin-left: 1rem;
   }

   &__total-price {
      margin-top: 2.3rem;
      margin-bottom: 2rem;
      color: var(--prod-info-price-color);
      font-size: 2.6rem;
      font-weight: 500;
      line-height: 138.462%;
   }

   &__add-to-cart {
      flex: 1;
   }

   &__like-btn {
      border-radius: 0.6rem;
      border: 1px solid #d2d1d6;
      width: 4.6rem;
      height: 4.6rem;
      margin-left: 2rem;
      background: transparent;
      box-shadow: none;
   }
}

.prod-prop {
   display: flex;
   gap: 16px;
   margin-top: 30px;

   @include abstracts.screen(md) {
      margin-top: 20px;
   }

   &__icon {
      align-self: flex-start;
   }

   &__title {
      color: var(--prod-prop-title-color);
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 144.444%;
   }

   &__desc {
      margin-top: 4px;
      color: var(--prod-prop-desc-color);
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 142.857%;
   }
}

.prod-props {
   padding-left: 30px;

   @include abstracts.screen(xxl) {
      padding-left: 10px;
   }

   @include abstracts.screen(lg) {
      padding-left: 0;
   }
}

.prod-tab {
   &__list {
      display: flex;
      align-items: center;
      margin: 0 -30px;
      flex-wrap: wrap;
      @include abstracts.screen(md){
         margin: 0 -20px;
      }
   }

   &__item {
      padding: 0 30px;
      color: var(--prod-tab-item-color);
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 145.455%;
      user-select: none;
      white-space: nowrap;

      @include abstracts.screen(md) {
         padding: 8px 20px;
         font-size: 1.8rem;
      }

      @include abstracts.screen(sm) {
         font-size: 1.4rem;
      }

      &:not(&--current) {
         cursor: pointer;
      }

      &--current {
         // color: var(--prod-tab-current-item-color);
         color: inherit;
      }
   }

   &__contents {
      padding-top: 30px;
   }

   &__content {
      display: none;

      &--current {
         display: block;
      }
   }
   &__text-content{
      margin-top: -20px;
   }
}

.prod-content {
   &__heading {
      color: inherit;
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 141.667%;
      margin-bottom: 3rem;
   }
}

