<div class="container">
   <div class="top-bar">
      <!-- More -->
      <button class="top-bar__more icon">
         <img
            src="./assets/icons/more.svg"
            alt=""
            class="top-bar__more--icon"
         />
      </button>

      <!-- Logo -->
      <a href="./" class="logo">
         <img
            class="logo__img"
            src="./assets/icons/Logo-Icon.svg"
            alt="grocerymart"
         />
         <h1 class="logo__title">grocerymart</h1>
      </a>

      <!-- navbar -->
      <nav class="navbar">
         <ul class="navbar__list js-dropdown-list">
            <li class="navbar__item">
               <a href="" class="navbar__link">
                  Departments
                  <img
                     class="navbar__arrow icon"
                     src="./assets/icons/arrow-down.svg"
                     alt="arrow-down"
                  />
               </a>
               <div class="dropdown">
                  <div class="dropdown__inner">
                     <div class="top-menu">
                        <div class="top-menu__main">
                           <!-- Menu Column -->
                           <div class="menu-column">
                              <div class="menu-column__icon">
                                 <img class="menu-column__icon-1" src="./assets/img/category/cate1.1.svg" alt="All Department Icon 1">
                                 <img class="menu-column__icon-2"src="./assets/img/category/cate1.2.svg" alt="All Department Icon 2">

                              </div>
                              <div class="menu-column__content">
                                 <h2 class="menu-column__heading">All Departments</h2>
                                 <ul class="menu-column__list">
                                    <li>
                                       <a href="#!" class="menu-column__link">Savings & Featured Shops</a>
                                    </li>
                                    <li>
                                       <a href="#!" class="menu-column__link">Electronics</a>
                                    </li>
                                    <li>
                                       <a href="#!" class="menu-column__link">Clothing, Shoes & Accessories</a>
                                    </li>
                                    <li>
                                       <a href="#!" class="menu-column__link">Home, Furniture & Appliances</a>
                                    </li>
                                    <li>
                                       <a href="#!" class="menu-column__link">Toys & Video Games</a>
                                    </li>
                                    <li>
                                       <a href="#!" class="menu-column__link">Home Improvement</a>
                                    </li>
                                    <li>
                                       <a href="#!" class="menu-column__link">Baby</a>
                                    </li>
                                    <li>
                                       <a href="#!" class="menu-column__link">Household Essentials</a>
                                    </li>
                                    <li>
                                       <a href="#!" class="menu-column__link">Personal Care</a>
                                    </li>
                                    <li>
                                       <a href="#!" class="menu-column__link">Patio & Garden</a>
                                    </li>
                                    <li>
                                       <a href="#!" class="menu-column__link">Sports & Outdoors</a>
                                    </li>
                                    <li>
                                       <a href="#!" class="menu-column__link">Gift Cards</a>
                                    </li>
                                    <li>
                                       <a href="#!" class="menu-column__link">Auto, Tires and Industrial</a>
                                    </li>
                                    <li>
                                       <a href="#!" class="menu-column__link">Movies, Music & Books</a>
                                    </li>
                                 </ul>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="navbar__item">
               <a href="" class="navbar__link">
                  Grocery
                  <img
                     class="navbar__arrow icon"
                     src="./assets/icons/arrow-down.svg"
                     alt="arrow-down"
                  />
               </a>
               <!-- <div class="dropdown">
                  <div class="dropdown__inner">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Minima sequi impedit esse a, cupiditate in veritatis
                     possimus voluptatibus animi facilis, aperiam ducimus
                     accusamus saepe magni, culpa quisquam nisi delectus fuga
                     eveniet cum maxime. Facere dignissimos voluptates quod?
                     Debitis quos quasi veniam facere ad, consequuntur aliquid
                     est nam ex quod dolores.
                  </div>
               </div> -->
            </li>
            <li class="navbar__item">
               <a href="" class="navbar__link">
                  Beauty
                  <img
                     class="navbar__arrow icon"
                     src="./assets/icons/arrow-down.svg"
                     alt="arrow-down"
                  />
               </a>
               <!-- <div class="dropdown">
                  <div class="dropdown__inner">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Minima sequi impedit esse a, cupiditate in veritatis
                     possimus voluptatibus animi facilis, aperiam ducimus
                     accusamus saepe magni, culpa quisquam nisi delectus fuga
                     eveniet cum maxime. Facere dignissimos voluptates quod?
                     Debitis quos quasi veniam facere ad, consequuntur aliquid
                     est nam ex quod dolores.
                  </div>
               </div> -->
            </li>
         </ul>
      </nav>

      <!-- Action -->
      <div class="top-act">
         <!-- btn group 1 -->
         <div class="top-act__group top-act__group--single">
            <button class="top-act__btn">
               <img
                  src="./assets/icons/search.svg"
                  alt=""
                  class="top-act__icon icon"
               />
            </button>
         </div>
         <!-- btn group 2 -->
         <div class="top-act__group">
            <button class="top-act__btn">
               <img
                  src="./assets/icons/heart.svg"
                  alt=""
                  class="top-act__icon icon"
               />
               <span class="top-act__title">03</span>
            </button>
            <div class="top-act__separate"></div>
            <button class="top-act__btn">
               <img
                  src="./assets/icons/cart.svg"
                  alt=""
                  class="top-act__icon icon"
               />
               <span class="top-act__title">$65.42</span>
            </button>
         </div>

         <div class="top-act__user">
            <img src="./assets/img/avatar.jpg" alt="" class="top-act__avatar" />
         </div>
      </div>
   </div>
</div>
